<strong>Incrementor</strong><br />
Current value: <strong id="current-value" aria-live="polite">???</strong><br />
<br />
<button data-increment aria-controls="increment">Increment</button>
<button data-increment aria-controls="decrement">Decrement</button>
<button data-increment aria-controls="current_value">Current Value</button>
<button data-increment aria-controls="reset">Reset</button>

<script>
  import incrementor from "../contracts/soroban_increment_contract";
  import { isAllowed, getPublicKey, signTransaction } from '@stellar/freighter-api';
  const incrementButton = document.querySelector("[data-increment]");
  const currentValue = document.querySelector("#increment");
  if (await isAllowed()) {
    const publicKey = await getPublicKey();
    if (publicKey) incrementor.options.publicKey = publicKey;
  }
  incrementButton.addEventListener("click", async () => {
    incrementButton.disabled = true;
    incrementButton.classList.add("loading");
    currentValue.innerHTML =
      currentValue.innerHTML +
      '<span class="visually-hidden"> – updating…</span>';

    const tx = await incrementor.increment();
    const { result } = await tx.signAndSend({signTransaction});

    // Only use `innerHTML` with contract values you trust!
    // Blindly using values from an untrusted contract opens your users to script injection attacks!
    currentValue.innerHTML = result.toString();

    incrementButton.disabled = false;
    incrementButton.classList.remove("loading");
  });
</script>